@font-face {

font-family: 'HelveticaNeueCyr-Roman';

src: url('../fonts/HelveticaNeueCyr-Roman.eot');

src: url('../fonts/HelveticaNeueCyr-Roman.eot?#iefix') format('eot'),

url('../fonts/HelveticaNeueCyr-Roman.woff') format('woff'),

url('../fonts/HelveticaNeueCyr-Roman.ttf') format('truetype'),

url('../fonts/HelveticaNeueCyr-Roman.svg#webfont') format('svg');

font-weight: normal;

font-style: normal;

}

@font-face {

font-family: 'HelveticaNeueCyr-Bold';

src: url('../fonts/HelveticaNeueCyr-Bold.eot');

src: url('../fonts/HelveticaNeueCyr-Bold.eot?#iefix') format('eot'),

url('../fonts/HelveticaNeueCyr-Bold.woff') format('woff'),

url('../fonts/HelveticaNeueCyr-Bold.ttf') format('truetype'),

url('../fonts/HelveticaNeueCyr-Bold.svg#webfont') format('svg');

font-weight: bold;

font-style: bold;

}


body {
	font-family: HelveticaNeueCyr, sans-serif; 
	padding: 0;
	margin: 0;
}

div {
	box-sizing: border-box;
}

.clearfix:after {
	content:'';
	display: table;
	width: 100%;
	clear: both;
}

header {
	background: #f2f2f2;
		}

.container {
	width: 1450px;
	margin: 0 auto;
}

	
#portfolio {
	background: #f2f2f2;

}	

.DVC_logo {
	background: #f2f2f2;
	color: #000;
	border: 1px solid #f2f2f2;
	width: 450px;
    float: left;
	
}

.heading_logo {
	   width: 100px;
	   border-right: 1px solid #f2f2f2; 
	   float: left;
       height: 100%;
}

.heading_title {
	background: #f2f2f2;
     float: left;
     width: 330px;
     height: 100%;
     text-align: left;
     margin-top: 15px;
     margin-left: 10px;
}

.heading_title p {
	font-size: 16px;
	color: #000;
}

.logo {
    float: left;
    margin-top: 8px;
}

.smart_logo {
	background: #f2f2f2;
	color: #000;
	border: 1px solid #f2f2f2;
	width: 180px;
    float: left;

}

.smart_picture {
       width: 20px;
	   border-right: 1px solid #f2f2f2; 
	   float: left;
       height: 100%;

}


nav {
     float: right;
     margin-top: 10px;
}

.spn_words {
   	  color: #4193d4;
}

.spn_stranght {
    background: #ebe9ec;
}

.menu {
	padding: 0;
	margin-top: 6px;
	display: block;
}

.menu li {
	float: left;
	display: block;
	margin-right: 48px;

}

.menu a {
	color: #000;
	text-decoration: none;
    font-size: 14px;
}

.menu p {
	margin-top: 0px;
	color: #000;
	font-size: 16px;
	font-weight: bold;
	
}

.titles_lft {
     color: #000;
     text-align: left;
     height: 948px;
     background-repeat: no-repeat;
     background-image: url(../img/iphone_1.png);
     background-position: right bottom;
     position: relative;

}

.title_box h1 {
	font-size: 40px;
	color: #000;
    text-align: left;
    margin-top: 0;
    margin-bottom: 10px;
}

.title_box h2 {
	font-size: 40px;
	color: #000;
    text-align: left;
    margin-top: 50px;
    margin-bottom: 80px;
}

.titles_lft2 {
	color: #000;
	text-align: left;
}
.titles_lft2 p {
	font-size: 20px;
	margin-bottom: 20px;
}

.button_diag {
	background: #fff;
	color: #000;
	font-size: 20px;
	border: 1px solid #000;
	border-radius: 5px;
	display: block;
	width: 306px;
	padding: 20px;
	text-decoration: none;
	font-weight: bold;
	text-align: center;
	margin-top: 80px;
}

.title_box {
	position: absolute;
	top: 50%;
    left: 0;
    margin-top: -178.5px;
 }

#feedback {
	background-color: #131218;
}

.screen_2 {
	height: 760px;
	background-repeat: no-repeat;
	background-image: url(../img/iphone_2.png);
	background-position: left 158px top 116px;
	position: relative;

}
.text_form {
	position: absolute;
	left: 40%;
	top: 116px;
}

 .text_form h2 {
 	color: #fff;
	text-align: left;
	font-size: 40px;
	padding: 0;
	margin-top: 0;
	margin-bottom: 5px;
}
 .text_form p {
 	color: #fff;
	text-align: left;
	font-size: 40px;
	padding: 0;
	margin-top: 0;
	margin-bottom: 25px;
}


.text_form li {
 	color: #fff;
 	text-align: left;
    font-size: 20px;
	list-style: none;
	margin-bottom: 15px;
}

.text_form_s {
	position: absolute;
	left: 40%;
	top: 368px;
}

.text_form_s h2 {
    color: #66bbff; 
	text-align: left;
    font-size: 26px;
    margin-bottom: 25px;
}

.text_form_s li {
	color: #fff;
	text-align: left;
	font-size: 20px;
	list-style: none;
	margin-bottom: 15px;
}

.feedback_information {
	width: 1000px;
	position: absolute;
	top: 74%;
	left: 40%;
} 

.name_information input {
	background: #fff;
	color: #000;
	border: 1px solid #000;
	border-radius: 5px;
	display: block;
	width: 260px;
	padding: 15px 0;
	text-decoration: none;
    text-align: left;
    float: left;
    outline: none;
}

.number_information input {
	background: #fff;
	color: #000;
	border: 1px solid #000;
	border-radius: 5px;
	display: block;
	width: 260px;
	padding: 15px 0;
	text-decoration: none;
    text-align: left;
    float: left;
    margin-left: 20px; 
	outline: none;
}

.call_master_information button {
	background: #000;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	display: block;
	width: 260px;
	padding: 15px 0;
	text-decoration: none;
    text-align: center;
    margin-left: 20px; 
    float: left;
    outline: none;
}
.checkbox {
	width: 700px;
    display: inline-block;
    float: left;
    padding-top: 20px; 
    text-align: left;
}

#personal_information {
  background-color: #fff;

}

.checkbox label {
	color: #c1c1c2;
    font-size: 14px;
}


#services {
	background: #fff;
	
}
.choosing {
	margin-top: 122px;
		
}

.spn_words_light {
	color: #56aef4;
}

.choosing_gadget {
	color: #000;
	text-align: center;
	font-size: 40px;
	margin-top: 120px;
	margin-bottom: 15px;
	
}

.choosing_gadget_and_service {
	color: #000;
	text-align: center;
	font-size: 40px;
	margin: 0;
	margin-bottom: 50px;
}

.choosing p {
	color: #000;
	text-align: center;
	font-size: 22px;
	margin-bottom: 80px;
}

.button_type {
	background: #fff;
	color: #56aef4;
	border: 1px solid #56aef4;
	border-radius: 3px;
	display: inline;
	width: 120px;
	padding: 4px 0;
	text-decoration: none;
	text-align: center;
}

.type_gadget {
    margin-bottom: 50px; 
    margin-left: 19%;
}

.type_gadget ul {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	list-style: none;
}

.type_gadget li {
   	margin-right: 73px;
	display: inline-block;
}

.type_gadget a {
	color: #000;
	text-decoration: none;
	font-size: 24px;
	font-weight: bold;
}

.model_gadget {
    margin-bottom: 80px;
    margin-left: 10%;
}

.model_gadget li {
    display: block;
	margin-right: 64px;
	list-style: none;
	display: inline;
}

.model_gadget a {
	color: #c2c2c2;
	text-decoration: none;
	font-size: 22px;
}

.button_model {
	background: #fff;
	color: #56aef4;
	border: 1px solid #56aef4;
	border-radius: 5px;
	display: inline;
	width: 38px;
	padding: 10px;
	text-decoration: none;
	text-align: center;
}

.font_table p {
	font-weight: bold;
}


.global-table-ft-box {
    width: 930px;
    float: left; 
}

.block_table_item {
	background: #fff;
	color: #000;
	border: 1px solid #ccc;
	width: 285px;
	height: 119px;
	border-radius: 5px;
	float: left;
	margin-right: 23px;
	margin-bottom: 20px;
}

.service_block_time {
     float: left;
     width: 87px;
     height: 100%;
     text-align: center;
     position: relative;
}

.service_block {
	   width: 195px;
	   border-right: 1px solid #ccc; 
	   float: left;
       height: 100%;
       padding: 20px;
}

.service_table_title {
	 color: #211f25;
     font-size: 18px;
     text-align: left;
}

.service_table_color {
       color: #211f25;
       font-size: 18px;
       text-align: left;
       padding-bottom: 20px;
}

.service_table_price {
	    color: #282828;
        font-size: 20px;
        font-weight: bold;
      
}

.service_block_time_title {
	position: absolute;
    width: 100%;
    top: 50%;
    margin-top: -16px;
}

.service_block_time_number {
	color: #000;
	font-size: 18px;
	padding-bottom: 5px;
}

.service_block_time_number_title {
    color: #000;
	font-size: 18px;

}

.block_table_item.item_selected {
	-webkit-box-shadow:-1px 0px 10px 0px rgba(165,211,253,1);
    -moz-box-shadow:-1px 0px 10px 0px rgba(165,211,253,1);
    box-shadow:-1px 0px 10px 0px rgba(165,211,253,1);
    border-color: #158cfb;
}

.block_table_item.item_selected .service_block {
	border-color: #158cfb;
}

.global-form-ft-box {
    background: #fff;
    background-color: #f5f5f5;
	color: #000;
	border: 1px solid #ccc;
	width: 460px;
	border-radius: 5px;
	float:right;
	
}

.form_title {
	color: #000;
	font-size: 22px;
	text-align: center;
	font-weight: bold;
	margin-top: 45px;
	margin-bottom: 25px;
}

.form_service_title {
	color: #000;
	font-size: 18px;
	text-align: center;
	margin-bottom: 30px;
}

.form_service_title_work input {
	color: #000;
	border: 1px solid #fff;
	border-radius: 5px;
	display: block;
	width: 350px;
	padding: 15px;
	font-size: 16px;
	text-align: left;
	margin-bottom: 30px;
	margin-left: 35px; 
	outline: none;
	
}

.form_service_title_gadget input {
    color: #000;
    border: 1px solid #fff;
	border-radius: 5px;
	display: block;
	width: 350px;
	padding: 15px;
	font-size: 16px;
    text-align: left;
	margin-bottom: 30px;
    margin-left: 35px; 
    outline: none;
}

.total_serv {
	font-size: 18px;
	color: #56aef4;
}
.form_serv {
	color: #000;
	font-size: 14px;
	text-align: left;
	margin: 0;
	padding: 0;
	margin-left: 35px;
	margin-bottom: 30px;
}
.form_serv_name input {
    color: #000;
    border: 1px solid #fff;
	border-radius: 5px;
	display: block;
	width: 350px;
	padding: 15px;
	font-size: 16px;
    text-align: left;
	margin-bottom: 30px;
    margin-left: 35px; 
    outline: none;

} 
.form_serv_phone input {
	color: #000;
    border: 1px solid #fff;
	border-radius: 5px;
	display: block;
	width: 350px;
	padding: 15px;
	font-size: 16px;
    text-align: left;
	margin-bottom: 30px;
    margin-left: 35px; 
    outline: none;
}

.call_serv_button {
	background: #fff;
	color: #000;
	font-size: 16px;
	font-weight: bold;
	border: 1px solid #000;
	border-radius: 5px;
	display: block;
	width: 390px;
	padding-top: 15px;
	padding-bottom: 15px; 
	text-decoration: none;
	text-align: center;
	margin-left: 35px; 
	margin-bottom: 20px;
	outline: none;
}

.personal_title {
	color: #000;
	font-size: 14px;
	text-align: left;
	background: #f5f5f5;
	width: 390px;
	margin-left: 40px;
	margin-bottom: 50px; 
}

.service_help p {
	color: #000;
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	margin-bottom: 15px;
}


.service_help_contact p {
	color: #000;
	font-size: 20px;
    text-align: center;
	margin-bottom: 15px;

}
footer {
	background-color: #e3dfe1;
	min-height: 100px;
	margin-top: 50px;
}

.footer_text {
	color: #d42889;
}

.footer_maket {
	text-align: center;
	font-size: 20px;
}
.footer_maket p {
	padding-top: 50px;
}

/* @media (min-width:1150px)
{
.container { width: 992px;
 }
#portfolio {
	background: #f2f2f2;
}
.feedback_information {
	width: 600px;
}
.name_information input {
	display: block;
	width: 170px;
	padding: 10px 0;
}
.number_information input {
	width: 170px;
	padding: 10px 0;

}
.call_master_information button {
	width: 170px;
	padding: 10px 0;
}
.checkbox {
	width: 500px;
    display: inline-block;
    float: left;
    padding-top: 20px; 
    text-align: left;
}
}*/